{{ main_content }}
    {{ if config:app:debug }}
    <!-- Set: {{ type }} -->
    {{ /if }}
    {{ partial src="sets/{type}" }}
{{ /main_content }}
<!--
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {{ collection:categories }}
        <a href="{{ url }}" class="group relative block overflow-hidden rounded-lg transition-transform transform hover:scale-105">
            <img src="{{ featured_image }}" alt="{{ title }}" class="w-full h-60 object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
                <span class="text-white text-lg font-semibold">{{ title }}</span>
            </div>
        </a>
    {{ /collection:categories }}
</div>
-->