<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    </head>
    <body class="bg-white dark:bg-white font-sans leading-normal text-black dark:text-black text-lg">
        <nav class="bg-purple-100 text-sm uppercase text-center flex items-center justify-center space-x-4 p-4">
            <!-- Home Link -->
            <a href="/" class="p-2 block hover:text-purple-500">
                Home
            </a>
            <!-- Categories Collection Links -->
            {{ collection:categories }}
                <a href="{{ url }}" class="p-2 block hover:text-purple-500">
                    {{ title }}
                </a>
            {{ /collection:categories }}
        </nav>              

        <div class="flex items-center justify-center -mb-12">
            <img src="{{ site_url }}/svg/logo.svg" alt="Logo" width="320" height="auto">
        </div>        

        <div class="mx-auto px-2 lg:min-h-screen flex flex-col items-center">
            {{ template_content }}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    </body>
</html>
