<div class="w-full bg-gradient-to-r from-[#374151] to-[#1f2937] px-96 py-16 flex items-center justify-between">
    <div class="flex flex-col space-x-4">
        <img src="{{ logo }}" alt="{{ logo:alt }}" class="h-32 w-auto object-contain">
        <h1 class="text-gray-200 font-bold text-xl mt-3 tracking-wider">
            {{ heading }}
        </h1>
    </div>

    <div class="flex flex-col gap-4">
        <div class="flex space-x-5">
            {{ partial:button :text="one_button_text" :url="one_button_link" }}
            {{ partial:button :text="two_button_text" :url="two_button_link" }}
        </div>
        <div class="flex space-x-5">
            {{ partial:button :text="three_button_text" :url="three_button_link" }}
            {{ partial:button :text="four_button_text" :url="four_button_link" }}
        </div>
    </div>
</div>