<h1 class="flex justify-center items-center text-xl text-gray-800 mt-4 tracking-wider">
    {{ heading }}
</h1>

<div class="flex flex-row items-center justify-center gap-x-8 mt-4">
    <a href="https://instagram.com/mee.shii" target="_blank" class="text-blue-400 transform transition-transform duration-300 hover:scale-105 hover:text-pink-500">
        <i class="fab fa-instagram text-5xl"></i>
    </a>
    <a href="https://x.com/meeshii_meow" target="_blank" class="text-blue-400 transform transition-transform duration-300 hover:scale-105 hover:text-pink-500">
        <svg width="40" height="40" viewBox="0 0 1200 1227" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="text-5xl">
            <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
        </svg>
    </a>
    <a href="https://www.tiktok.com/@mee.shii" target="_blank" class="text-blue-400 transform transition-transform duration-300 hover:scale-105 hover:text-pink-500">
        <i class="fab fa-tiktok text-[2.9rem]"></i>
    </a>
</div>